.card {
  background-color: var(--bg-dark);
  width: 12rem;
  height: 14rem;
  border-radius: 10px;
  padding: 10px;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.card-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
}

.card-title {
  line-height: 4px;
}

.card-title p, .card-title h2 {
  padding: 0;
  text-align: left;
  width: 40vw;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(auto, auto);
  gap: 10px;
  margin: 0 auto;
  justify-items: center;
  align-items: center;
  margin-bottom: 20px;
  overflow: hidden;
}

@media (max-width: 1000px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .card {
    width: 10rem;
    height: 12rem;
  }
}

.all-link {
  color: var(--blue);
}